- name: Install Application Packages
  when: ansible_facts['hostname'] == "webserver"
  yum:
    name: "{{ app_packages }}"
    state: latest

- name: Install Remi Repository
  when: ansible_facts['hostname'] == "webserver"
  yum:
    name: http://rpms.remirepo.net/enterprise/remi-release-7.rpm
    state: present

- name: Install yum-utils
  when: ansible_facts['hostname'] == "webserver"
  yum:
   name: yum-utils
   state: latest
    
- name: Enable Repository
  when: ansible_facts['hostname'] == "webserver"
  yum_repository:
    description: Extra Packages for Enterprise Linux 7 - $basearch
    metalink: https://mirrors.fedoraproject.org/metalink?repo=epel-7&arch=$basearch
    name: remi-php72
    enabled: yes

- name: Update Repository on Webserver
  when: ansible_facts['hostname'] == "webserver"
  yum:
    name: "*"
    state: latest

- name: Install PHP7.2
  when: ansible_facts['hostname'] == "webserver"
  yum:
   name: "{{ php_package }}"
   state: present
   enablerepo: "remi-*,epel,base"

- name: Download Wordpress - unarchive
  when: ansible_facts['hostname'] == "webserver"
  unarchive:
    src: https://wordpress.org/latest.tar.gz
    dest: /tmp/
    remote_src: yes

- name: Copy Wordpress filles to /var/www/html
  when: ansible_facts['hostname'] == "webserver"
  copy:
    src: /tmp/wordpress/
    dest: /var/www/html/
    remote_src: yes
    owner: apache
    group: apache
